
:root {
    --black: #000;
    --blackish: #0F070B;
    --dark-purple: #291528;
    --black-olive: #3A3E3B;
    --ghost-white: #F3E8EE;
    --mountbatten-pink: #9E829C;
    --pink-lavender: #FFC8FB;
    --pink-lavender-rgb: 255, 199, 251
    --pale-pink: #FFE4F3;
    --amaranth-pink: #FF92C2;
}

body {
    background-color: var(--dark-purple);
}

.card {
    border-color: var(--blackish);
    border-radius: 1rem;

    & .card-header {
        border-radius: 1rem 1rem 0 0;
        background-color: var(--mountbatten-pink);

        & .nav-link:not(.active) {
            color: var(--ghost-white);
        }
        
        & .nav-link:not(.active):hover {
            border-color: var(--ghost-white);
        }

        & .card-title {
            color: white;
            margin-bottom: 0;
        }
    }
}

.genre-box-temp {
    padding: 1rem 1.5rem;
    border: solid thick var(--ghost-white);
    border-radius: 1rem;
    margin-bottom: 1rem;

    & h1 {
        background-color: var(--mountbatten-pink);
        color: white;
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

td.emoji-cell {
    font-size: 2rem;
    padding: 0 0.75rem;
    line-height: 0;
    vertical-align: middle;
}

.input-row {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1rem;

    & label {
        font-weight: 600;
    }
}

.form-control:focus {
    border-color: var(--mountbatten-pink);
    box-shadow: 0 0 0 .2rem var(--pink-lavender);
}

.btn.btn-default {
    background-color: var(--mountbatten-pink);
    color: white;
}
/*
.card-header .arrow-back {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--ghost-white);
    border-radius: 50%;

    & a {
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
        color: var(--mountbatten-pink);
        text-align: center;
        margin-bottom: 2px;
    }

    &:hover {
        background-color: white;
    }

    & a:hover {
        text-decoration: none;
        filter: brightness(1.25);
    }
}
*/

.card-header .arrow-back {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--ghost-white);
    line-height: 0;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

.flip-v {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}